.detectWrapper {
  position: relative;
  width: 400px;
  height: 400px;
}

.detectResult>* {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  object-fit: cover;
}

.videoInput {
  filter: blur(15px) grayscale(100%);
}