body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-wrap: wrap;
  align-content: center;
}

.detectWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.detectResult {
  position: absolute;
  width: 200px;
  height: 200px;
  border: solid 1px #ccc;
  margin: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  background: #333;
}

.detectResult>* {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  object-fit: cover;
}

.videoInput {
  filter: blur(15px) grayscale(100%);
}

.hide {
  display: none !important;
}

.control {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.control>* {
  margin: 0 0.25rem;
}

.optionCheckBox {
  width: 36px;
  height: 36px;
  background: #fff;
  border: solid 1px #ccc;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #333;
}

.optionCheckBox:hover {
  background: #eee;
}

.optionCheckBox>input {
  display: none;
}

.optionCheckBox>label {
  display: block;
  padding: 0.5rem;
}

.buttonSvg {
  width: 100%;
  height: 100%;
}